/* Your CSS here */

/* To add fonts, add the font files to the font folder and copy the following code

@font-face {
  font-family: "Your-Font-Family-Name";
  src: url('/fonts/Your-Font-Family-Name.ttf');
}

Note that whatever extension your font-family uses, replace the 'ttf' with that extension
*/

body {
  font-family: sans-serif;
  padding: 10px;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

th {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.instructions {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff2b8;
  border: 1px solid #edae35;
}

.kerberos {
  margin: 10px 0;
}

.kerberos input {
  width: 200px !important;
  text-align: left !important;
}

.note {
  font-size: 12px;
  color: #999;
}

table {
  margin: 20px 0;
}
p {
  line-height: normal;
}
input[type="text"] {
  border: 1px solid #666;
  padding: 5px 10px;
  font-size: 14px;
  width: 50px;
  text-align: center;
}

em {
  font-weight: bold;
}

td {
  text-align: center;
  width: 100px;
  padding: 10px;
  border-top: 1px solid #666;
}

tr.cell-row th:nth-child(3n+1), tr.cell-row td:nth-child(3n + 1) {
  border-right: 1px solid black;
}