<!DOCTYPE HTML>
<html>
  <head>
    <title>2.009 Pink Rating</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
  </head>
  <body>
    <h1>2.009 Pink Rating Form</h1>
    <div class='instructions'>Please type one of: <em>1, 0, </em>or<em> -1</em> for each cell</div>
    
    <p>
    <em>Complexity</em> (How much of the team can work on it: 1 = more people involved than standard, -1 = fewer people involved)<br />
    <em>Potential Impact</em> (1 = larger potential impact on user than standard, -1 = less potential impact on user than standard)<br />
    <em>Originality</em> (1 = more original than standard, -1 = less original than standard)<br />
    <em>Scope</em> (1 = will definitely finish in time, -1 = we may hate ourselves in December)<br />
    <em>Personal Hype</em> (1 = more hype than standard, -1 = less hype than standard)
    </p>

    <table>
      <tr>
        <th>Product</th>
        <th>Complexity</th>
        <th>Pot. Impact</th>
        <th>Originality</th>
        <th>Scope</th>
        <th>Hype</th>
      </tr>
      <tr>
        <td>CoolKeep</td>
        <td><input type="text" id="coolkeep_c"/></td>
        <td><input type="text" id="coolkeep_p" /></td>
        <td><input type="text" id="coolkeep_o" /></td>
        <td><input type="text" id="coolkeep_s" /></td>
        <td><input type="text" id="coolkeep_h" /></td>
      </tr>
      <tr>
        <td>IceCheck</td>
        <td><input type="text" id="icecheck_c" value="0" disabled=true/></td>
        <td><input type="text" id="icecheck_p" value="0" disabled=true /></td>
        <td><input type="text" id="icecheck_o" value="0" disabled=true /></td>
        <td><input type="text" id="icecheck_s" value="0" disabled=true /></td>
        <td><input type="text" id="icecheck_h" value="0" disabled=true /></td>
      </tr>
      <tr>
        <td>ProxBand</td>
        <td><input type="text" id="proxband_c"/></td>
        <td><input type="text" id="proxband_p" /></td>
        <td><input type="text" id="proxband_o" /></td>
        <td><input type="text" id="proxband_s" /></td>
        <td><input type="text" id="proxband_h" /></td>
      </tr>
      <tr>
        <td>PT</td>
        <td><input type="text" id="pt_c"/></td>
        <td><input type="text" id="pt_p" /></td>
        <td><input type="text" id="pt_o" /></td>
        <td><input type="text" id="pt_s" /></td>
        <td><input type="text" id="pt_h" /></td>
      </tr>
    </table>
    <div class="kerberos">
      Your Kerberos: <input type="text" id="kerb" placeholder="kerberos without @mit.edu"/><br />
      <span class="note">votes will be displayed as anonymous</span>
    </div>
    <button id="submit">Submit</button> 
    <span class="message"></span>

    <script src='/js/jquery.min.js' type='text/javascript'></script>
    <script src='/js/main.js' type='text/javascript'></script>
    <script>
    $(function() {
      var ref = new Firebase('https://poofytoo.firebaseio.com/pughvote');
      var FORM_ID = 1;

      $('input').on('change', function() {
        $this = $(this);
        if ($this.val() == '1') {
          $(this).css('backgroundColor', '#bbf0b6');
            $(this).css('border', '1px solid #666');
        } else if ($this.val() == '-1') {
          $(this).css('backgroundColor', '#f0b6b6');
            $(this).css('border', '1px solid #666');
        } else if ($this.val() == '0') {
          $(this).css('backgroundColor', '#f0d9b6');
            $(this).css('border', '1px solid #666');
        } else {
          $(this).css('backgroundColor', '#ffffff');
        }
      })

      $('#submit').on('click', function() {
        var OK = true;
        console.log('submitting form');
        $('input').each(function() {
          if ($(this).val() !== '0' && $(this).val() !== '1' && $(this).val() !== '-1' && $(this).val() !== '?' && $(this).attr('id') !== 'kerb') {
            // invalid entry
            console.log('invalid entry!', $(this).attr('id'));
            $(this).css('border', '1px solid red');
            OK = false;
          } else {
            $(this).css('border', '1px solid #666');
          }

          if ($(this).attr('id') == 'kerb') {
            if ($(this).val() == '') {
              $(this).css('border', '1px solid red');
              OK = false;
            } else {
              $(this).css('border', '1px solid #666');
            }
          }
        })

        if (OK) {
          //$(this).attr('disabled','disabled');
          $('.message')
            .show()
            .text('submitted!')
            .fadeOut(10000);

          var products = ['coolkeep','icecheck','proxband','pt'];
          var attributes = ['c', 'p', 'o', 's', 'h'];
          var kerb = $('#kerb').val();

          userVote = {};
          for (i = 0; i < 4; i ++) {
            var k = {};
            for (j = 0; j < 5; j ++) {
              var val = $('#' + products[i] + '_' + attributes[j]).val();
              k[attributes[j]] = val;
            }
            userVote[products[i]] = k;
          }
          data = {}
          data[kerb + '_' + FORM_ID] = userVote;
          ref.child('results').update(data);
        } else {
          $('.message')
            .show()
            .text('there were some errors. please take a look')
            .fadeOut(10000);
        }
      })
    })
    </script>
    <!-- Load any other client side scripts here. Add them in the /public/js/ folder -->
  </body>
</html>